# -----------------------------
# Python Bytecode & Notebooks
# -----------------------------
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# -----------------------------
# Virtual Environments
# -----------------------------
.venv/
venv/
env/
ENV/
*.egg-info/

# -----------------------------
# IDEs / Editor Configs
# -----------------------------
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# -----------------------------
# Data Files
# -----------------------------
data/
spark-warehouse/
metastore_db/
*.sqlite
*.db
*.db-journal

# include specific test files
!data/raw/
!data/raw/claims/
!data/raw/claims/claims_10.csv
!data/raw/claims/providers_10.csv
!data/raw/ehr/
!data/raw/ehr/encounters_10.csv
!data/raw/ehr/patients_10.csv
!data/raw/feedback/
!data/raw/feedback/feedback_10.csv
!data/raw/feedback/device_data_10.json

# -----------------------------
# Secrets & Credentials
# -----------------------------
.env
.env.*
*.key
*.pem
*.crt
token.txt
.databrickscfg
secrets.yaml

# -----------------------------
# Logs, Reports, and Output
# -----------------------------
logs/
*.log
*.bak
*.out

# -----------------------------
# Archives / Compressed
# -----------------------------
archive/
*.zip
*.tar
*.tar.gz
*.rar
*.7z

# -----------------------------
# Testing / Coverage
# -----------------------------
.coverage
.cache/
.tox/
pytest_cache/
htmlcov/

# -----------------------------
# Build Artifacts
# -----------------------------
dist/
build/
.idea/workspace.xml
.idea/workspace.xml
