[project]
name = "kflow"
version = "0.3.1"
description = "Shared utilities for KardiaFlow ETL pipelines"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
  "delta-spark>=3.0.0"
]

[build-system]
# tomli is only needed when Python < 3.11
requires = ["setuptools>=68", "wheel", "build", "tomli; python_version < '3.11'"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]
include = ["kflow*"]
exclude = [
  "archive*", "data*", "infra*", "logs*", "notebooks*",
  "pipelines*", "metastore_db*", "tests*"
]